{% extends "bootstrap/base.html" %}

{% block title %}Savanna Tweet{% endblock %}

{% block styles%}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block navbar %}
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Savanna Tweet</a>
      </div>
      <div class="navbar-collapse collapse">
        {% if current_user.is_authenticated() %}
        <ul class="nav navbar-nav">
          <li><a href="/feed">Feed</a></li>
        </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated() %}
        <li><a href="/profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
        {%  else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
	      {% endif %}
        </ul>
      </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}
  <div class="container">
    {% block page_content %}{% endblock %}
  </div>
{% endblock %}
