{% extends "base.html" %}
{% block content %}
<div class="col-lg-3 col-md-offset-4">
    <h2>New post</h2>
  	<form method="POST" action="/create-feed" role="form" class="" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="form-group {% if form.content.errors %}has-error{% endif %} ">
            {{ form.content(class_='form-control', placeholder='What do you want to tell us?') }}
            <span class="help-block">{{ ' '.join(form.content.errors) }}</span>
        </div>

        <div class="form-group {% if form.image.errors %}has-error{% endif %} ">
            {{ form.image(class_='form-control') }}
            <span class="help-block">{{ ' '.join(form.image.errors) }}</span>
        </div>

        <div class="form-group ">
            {{ form.submit(class_='btn btn-default') }}
        </div>
    </form>
<div>
{% endblock %}
