{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
    <form action="/profile" class="form-horizontal" role="form" enctype="multipart/form-data" method="POST">
            <!-- left column -->
        <div class="col-md-3">
          <div class="text-center">
            <label style="cursor: pointer;" for="{{form.image.id}}"><img src="/static/{{ form.image_url }}" onError="this.src='//placehold.it/100'" class="avatar img-circle" alt="avatar" style="max-width: 100px;"></label>
            <h6>Click the profile picture to change it.</h6>
            {{ form.image(class_='form-control',style="display: none;") }}
          </div>
        </div>
      {{ form.csrf_token }}
      <div class="col-md-6 col-md-offset-1 personal-info">
				{{ form.csrf_token }}
        <h3>Personal info</h3>
          <div class="form-group">
	          {{ form.name.label(class_='col-lg-3 control-label') }}
	            <div class="form-group col-lg-9">
      					{{ form.name(class_='form-control', placeholder="Change your name") }}
      				</div>
              <div class="form-group">
      	          {{ form.about_me.label(class_='col-lg-3 control-label') }}
  	            <div class="form-group col-lg-9">
        					{{ form.about_me(class_='form-control', placeholder="Amazing Story") }}
        				</div>
              </div>
          <div class="form-group">
	          {{ form.fur_color.label(class_='col-lg-3 control-label') }}
	          <div class="form-group col-lg-9">
				  		{{ form.fur_color(class_='form-control', placeholder="Have you seen a barber?") }}
					  </div>
          </div>
          <div class="form-group">
	          {{ form.email.label(class_='col-lg-3 control-label') }}
            <div class="form-group col-lg-9 {% if form.email.errors %}has-error{% endif %} ">
				  		{{ form.email(class_='form-control', placeholder="You've changed your email?") }}
					  </div>
            <span class="help-block">{{ ' '.join(form.email.errors) }}</span>
          </div>
          <div class="form-group">
            {{ form.animal_type.label(class_='col-lg-3 control-label') }}
            <div class="form-group col-lg-9">
              {{ form.animal_type(class_='form-control') }}
            </div>
          </div>
          <div class="form-group" style="margin-left: 233px">
            {{ form.submit(class_='btn btn-primary') }}
          </div>
        </form>
      </div>
  </div>
</div>
<hr>

{% endblock %}
