{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
    <form action="/profile" class="form-horizontal" role="form" enctype="multipart/form-data" method="POST">
        {{ form.csrf_token }}
      <!-- left column -->
      <!-- <div class="col-md-3">
        <div class="text-center">
          <img src="/static/uploads/{{ photo }}" onError="this.src='//placehold.it/100'" class="avatar img-circle" alt="avatar" style="max-width: 100px;">
          <h6>Upload a different photo...</h6>

          <input type="file" name="file" class="form-control">
        </div>
      </div> -->
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          This is an <strong>.alert</strong>. Use this to show important messages to the user.
        </div>
        <h3>Personal info</h3>
          <div class="form-group">
	          {{ form.name.label(class_='col-lg-3 control-label') }}
	            <div class="form-group col-lg-9 {% if form.name.errors %}has-error{% endif %} ">
					{{ form.name(class_='form-control', placeholder="Change your name") }}
				</div>
				{{ form.csrf_token }}
          <div class="form-group">
	          {{ form.about_me.label(class_='col-lg-3 control-label') }}
	            <div class="form-group col-lg-9 {% if form.about_me.errors %}has-error{% endif %} ">
					{{ form.about_me(class_='form-control', placeholder="Amazing Story") }}
				</div>
          </div>
          <div class="form-group">
	          {{ form.fur_color.label(class_='col-lg-3 control-label') }}
	          <div class="form-group col-lg-9 {% if form.fur_color.errors %}has-error{% endif %} ">
				  		{{ form.fur_color(class_='form-control', placeholder="Have you seen a barber?") }}
					  </div>
          </div>
          <div class="form-group">
	          {{ form.email.label(class_='col-lg-3 control-label') }}
            <div class="form-group col-lg-9 {% if form.email.errors %}has-error{% endif %} ">
				  		{{ form.email(class_='form-control', placeholder="You've changed your email?") }}
					  </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
            	{{ form.submit(class_='btn btn-primary') }}
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>

{% endblock %}