{% extends "base.html" %}
{% block content %}
    <div class="col-lg-3 col-md-offset-4">
        <h2>Sign Up</h2>
        <form method="POST" action="/signup" role="form" class="" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-group {% if form.username.errors %}has-error{% endif %} ">
                {{ form.username(class_='form-control', placeholder=form.username.label.text) }}
                <span class="help-block">{{ ' '.join(form.username.errors) }}</span>
            </div>

            <div class="form-group {% if form.email.errors %}has-error{% endif %} ">
                {{ form.email(class_='form-control', placeholder=form.email.label.text) }}
                <span class="help-block">{{ ' '.join(form.email.errors) }}</span>
            </div>


            <div class="form-group {% if form.password.errors %}has-error{% endif %} ">
                {{ form.password(class_='form-control', placeholder=form.password.label.text) }}
                <span class="help-block">{{ ' '.join(form.password.errors) }}</span>
            </div>

            <div class="form-group {% if form.password_confirmation.errors %}has-error{% endif %} ">
                {{ form.password_confirmation(class_='form-control', placeholder=form.password_confirmation.label.text) }}
                <span class="help-block">{{ ' '.join(form.password_confirmation.errors) }}</span>
            </div>
            <div class="form-group ">
                {{ form.submit(class_='btn btn-primary') }}
            </div>
        </form>
    </div>
{% endblock %}
